body {
  font-family: "Lucida Grande", "Segoe UI", Arial, sans-serif;
  font-size: 11px;
  cursor: pointer;
  -moz-user-select: -moz-none;
}

#menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  display: block;
  height: 1.5em;
  color: #888;
  font-weight: bold;
  text-decoration: none;
}

#menu li:hover {
  display: block;
  color: #fff;
}

#menu li.separator {
  height: inherit;
  margin: 3px 0 !important;
  border-top: 1px solid #888;
}
