body {
  margin-top: 1px;
  font-family: "Lucida Grande", "Segoe UI", Arial, sans-serif;
  font-size: 11px;
  color: inherit;
  text-align: right;
  cursor: default;
}

#splash {
  margin-left: 13px;
  float: left;
}

#logger {
  margin: 0.5px 0 0 2px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  vertical-align: top;
}

#data, #init, #logger {
  display: none;
}

.warning {
  color: #800;
}

.enabled {
  background-color: #080;
}

.disabled {
  background-color: #800;
}
